body {
  font-family: sans-serif;
  background-image: linear-gradient(to top, #d299c2 0%, #fef9d7 100%);
  background-size: 1400px 1180px;
}

.container {
  max-width: 1000px;
  padding: 50px 100px;
  margin: 10px 20px;
  border-radius: 100px;
  background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
}

.weather-app {
  float: right;
  padding: 0 16px;
  bottom: 50px;
}

h1 {
  font-size: 25px;
  font-weight: 100px;
  line-height: 28px;
  margin-bottom: 0px;
}

.date-and-time {
  margin-bottom: -60px;
  padding: 1px;
}

li {
  font-size: 16px;
  font-weight: 100;
  height: 19px;
  line-height: 1;
  list-style: none;
}

.form-control {
  font-size: 13px;
}

.row {
  margin: 10px 29px 10px -12px;
}

.col-xl {
  margin: 10px 0px -75px 0px;
  padding: 20px;
}

.current-sky img {
  float: left;
  margin-right: 7px;
  width: 64px;
  height: 64px;
}

.units {
  position: relative;
  font-size: 18px;
  top: -32px;
  margin-left: -5px;
}

.weather-percentage {
  position: relative;
  right: -25px;
  bottom: 110px;
  padding-top: 50px;
}

.ending-remark {
  font-family: "Architects Daughter", cursive;
  float: right;
  position: absolute;
  right: 120px;
  bottom: 70px;
  font-weight: bolder;
  font-size: 20px;
}

.seasons {
  float: right;
  position: absolute;
  right: 40px;
  width: 279px;
  bottom: 80x;
}

.current-temperature {
  color: rgb(33, 33, 33);
  font-size: 60px;
  font-weight: 400;
  line-height: 1;
  margin-right: 10px;
}

.footer {
  color: rgb(46, 45, 45);
  margin: 0 0 20px;
  padding: 0 1px;
  font-size: 12px;
}

